
canvas {
	background-color : rgb(118, 189, 118);
	padding	: 0;
    margin	: auto;
    display	: block;
}

h1{
	text-align:center;
}

.movement {
	display: none;
}

.rejouer{
	position: relative; 
	left: 48%;
	top: 10px;
}